/* ================= DETALHAMENTO SEGMENTOS ================= */

.segmento-detalhe{
border-top:1px solid #eaeaea;
}

.detalhe-box{
display:flex;
align-items:center;
gap:40px;
}

.detalhe-box img{
width:120px;
}

.detalhe-box p{
margin-top:10px;
max-width:700px;
}

/* RESPONSIVO */

@media (max-width:768px){

.detalhe-box{
flex-direction:column;
text-align:center;
}

.detalhe-box img{
width:100px;
}

}
